.input{
    background-color: #f0f0f0;
    font-weight: bold;
}

.btn{
    background-color: #6f1c73;
    height: 50px;
}

::placeholder {
    font-weight: normal;
}

.options {
    top: 15px;
    i{
        font-size: 30px;
        cursor: pointer;
    }
}

.options2 {
    top: 15px;
    right: 0;
    i{
        font-size: 30px;
        cursor: pointer;
    }
}