<div class="container-fluid mt-5 ">

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card shadow">
                <form [formGroup]="editEntradaForm" (ngSubmit)="onSubmit()">
                    <div class="m-5">
                        <div class="container ">
                            <h1 class="text-center ">Editar entrada</h1>

                            <div class="mb-3 shadow-sm ">
                                <label for="title" class="form-label"><b>Titulo</b></label>
                                <input type="text" class="form-control input" id="title"
                                    placeholder="Titulo de la entrada" name="title" formControlName="title">
                            </div>

                            <div class="mb-3">
                                <label for="description" class="form-label"><b>Descripción</b></label>
                                <input type="text" class="form-control input" id="description"
                                    placeholder="Descripción de la entrada" name="description"
                                    formControlName="description">
                            </div>

                            <div class="mb-3">
                                <label for="date" class="form-label"><b>Fecha de publicación</b></label>
                                <input type="date" class="form-control input" id="date"
                                    placeholder="Fecha de la publicación" name="date" formControlName="date">
                            </div>

                            <div class="mb-3">
                                <label for="author" class="form-label"><b>Autor</b></label>
                                <input type="text" class="form-control input" id="author"
                                    placeholder="Autor de la entrada" name="author" formControlName="author">
                            </div>


                            <div class="text-center">
                                <button class="btn text-white" type="submit">Guardar</button>
                            </div>
                        </div>

                    </div>

                </form>

            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>