
<div class="position-relative">
    <div class="card mb-4">
        <div class="card-header text-center">
            <h3>Descripción</h3>
          </div>
          <br>
        <div class="mx-3 mb-3 d-flex align-items-center ">
            <p class="mb-0 ms-2">Titulo: </p>
        </div>
        <div class="mx-3 mb-3 d-flex align-items-center ">
            <p class="mb-0 ms-2">Descripcion: </p>
        </div>
        <div class="row ">
            <div class="mx-3 mb-3 d-flex align-items-end">
                <p class="mb-0 ms-2">Autor: </p>
            </div>
            <div class="mx-3 mb-3 d-flex text-start">
                <p class="mb-0 ms-2">Fecha: </p>
            </div>
        </div>
        
    </div>
</div>
